.body {
    overflow: hidden;
    width: 300px;
    height: 200px;
    border: 1px solid black;
    position: absolute;
    left: 40%;
    top: 50%;
    margin: -150px 0 0 -100px;
}

.header span {
    margin-right: 80px;
}

.input input {
    width: 83%;
}

.input button {
    z-index: 2;
    position: absolute;
    right: 0;
}

.list div span {
    width: 84%;

    display: inline-block;
    position: relative;
    left: 50px;
}

.icon-duihao {
    border: 1px solid black;
    width: 30px;
    height: 21px;
    border-radius: 10px;
    position: absolute;
    left: 0;
}

.icon-fork {
    display: none;
    border: none;
    width: 30px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    right: 0;


}

.list div span:hover~.icon-fork {
    display: inline-block;
}

.one {
    position: absolute;
    bottom: 0;
    left: 0;
}

.two {
    position: absolute;
    bottom: 0;
    right: 0;
}

.menu {
    color: rgb(240, 7, 194);
}